@import "compass/reset";

body {
  background-color: #fff;
  font-family: "Lucida Grande", Helvetica, sans-serif;
  font-size: 12px;
  line-height: 18px;
}

a {
  color: #007ed9;
  text-decoration: none;
}
