table {
  width: 100%;

  thead {
    tr {
      th {
        border-right: 1px solid #ebebeb;
        padding: 5px 15px;
        color: #b2b2b2;
        text-align: left;
        text-transform: uppercase;

        &:last-child { border-right: 0; }
      }
    }
  }

  tbody {
    tr {
      td {
        border-right: 1px solid #ebebeb;
        border-top: 1px solid #ebebeb;
        padding: 5px 15px;

        &:last-child { border-right: 0; }
      }
    }
  }
}
