#primary-nav {
  border-bottom: 1px solid #c0c0c0;
  margin-bottom: 10px;
}

#primary-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#primary-nav ul li {
  list-style: none;
  margin: 0 10px 0 0;
  padding: 0;
  display: inline-block;
}

#primary-nav ul li:last-child { margin-right: 0; }

#primary-nav ul li a {
  color: #264876;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}
